<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
	<script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
	<div class="nav">
		Minibox.AI
		{{ template "main-nav" }}
	</div>
	<div class="container">
	<h1>你好，欢迎。</h1>
	<div>
		<img class="avatar" src="{{ .Avatar }}" alt="user avatar">
		<h3>{{.Name }}</h3>
	</div>
	<p><a href="{{ .Profile }}" >进入 {{ .Namespace }} 空间</a></p>
	<br />
	</div>
</body>
</html>